// _VARIABLES
$primary_black: #444;
$primary_white: #fff;

// _BASE
//reset CSS
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Lato, sans-serif;
}

body {
  color: #444444;
  font-size: 2rem;
  min-height: 100vh;
  background-color: cornflowerblue;
}

a {
  text-decoration: none;
}

// _COMPONENTS
// _BUTTONS
// _UTILITIES
.container { // Задължително контейнер за центриране и задаване на max-width на съдържанието във всяка една секция
  //display: flex;
  //flex-flow: row wrap;
  max-width: 110rem;
  margin: 0 auto;
  border: 1px solid;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
